<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Mes Formations</title>
    <link rel="stylesheet" 
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
crossorigin="anonymous"> 
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- initialiser tiny mce -->
      <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>       
       <style><!-- @import url("skin.min.css"); --></style>
     <script type="text/javascript">
     tinymce.init({
    	  selector: 'textarea#textarea',
    	  plugins: [
  		    "advlist autolink lists link image charmap print preview anchor",
  		    "searchreplace visualblocks code fullscreen",
  		    "insertdatetime media table contextmenu paste"
  		  ],
    	  toolbar1: 'bold italic underline strikethrough forecolor bullist numlist',
    	  menubar:false,
    	content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
    	});
 </script>
 <script type="text/javascript" async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1IIrJ3zn3nOC-m8kk3rprKMDU59jki40&libraries=places&callback=initMap">
</script>
</head>
<body>
<script type="text/javascript">
function initMap()
{
	var input = document.getElementById('ville');
	var autocomplete = new google.maps.places.Autocomplete(input);
	}
</script>
    <div class="container">
   								 
				<div class="progress" style="margin-top: 5%;">
					  <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
						  <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
						</svg>
					
					  </div>
				</div>
				
				 <h3 th:text="${utilisateur.nom}+' '+${utilisateur.prenom}" class="d-inline"></h3>
								
		      <div class="panel panel-primary">
				  <div class="panel-heading">
				    <h3 class="panel-title">Mes Formation</h3>
				  </div>
				  <div class="panel-body" >
				
				  <form th:action="@{/saveFormation?id=__${utilisateur.id}__}" method="post" th:object="${formation}" enctype="multipart/form-data">
				    	
				    	 
				    	<!-- Affichage des formations -->
												    	<div class="card border border-success" style="margin:10px" th:if="${formations != null}" th:each="formation : ${formations}">  
														        <div class="card-body" >
														            
														               <h5 class="card-title text-warning"> Formation</h5>
														            
														            <p class="card-text text-secondary" >
														                <label th:text="${formation.Intitule}"></label></br>
														                <label th:text="${formation.Formation_debut_mois}"></label>-
														                <label th:text="${formation.Formation_fin_mois}"></label> 
														            </p>
														        </div>
														        <div class="card-footer text-center">
														        <a class="btn btn-danger btn-sm float-right" th:href="@{/deleteFormation(Formation_id =__${formation.id}__, Utilisateur_id =__${utilisateur.id}__)}" > 
														        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
 																 <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
																</svg>
																Supprimer</a>
														        </div>
														    </div>
				<div class="AddForm" style="display:none;">										    
				    	<div class="row "  >
				    	<!-- Ajouter des formations -->
						    <div class="col-lg-6 col-md-6 col-sm-12" style="margin-top:1%">
						    <input type="text" class="form-control" placeholder="Formation scolaire" th:field ="*{Intitule}">
						    </div>
						    <div class="col-lg-6 col-md-6 col-sm-12" style="margin-top:1%">
						    <input type="text" class="form-control" id="ville" placeholder="Localité" th:field ="*{Localite}">
						    </div>
				    	</div></br>
				    	<div class="row ">
				    		<div class="col-lg-12 col-md-12 col-sm-12">
				    			<input type="text" class="form-control" placeholder="Etablissement" th:field ="*{Etablissement}">
				    		</div>
				    	</div></br>
				    	<div class="row ">
				    		
				    		<div class="col-lg-6 col-md-4 col-sm-12" style="margin-top:1%">
						    <!-- <input type="text" class="form-control" placeholder="Depuis quel  mois" th:field ="*{Formation_debut_mois}"> -->
						    			  <label class="form-check-label" for="depuis">
									    	Depuis :
									  	  </label>
						    <input class="form-control" type="month" name="depuis" th:field ="*{Formation_debut_mois}">
						    </div>
						    <div class="col-lg-6 col-md-4 col-sm-12" style="margin-top:1%">
						    <!-- <input type="text" class="form-control" placeholder="Depuis quelle année" th:field ="*{Formation_debut_annee}"> -->
						    			<label class="form-check-label" for="jusqu">
									    	Jusqu'a :
									  	  </label>
						    <input class="form-control" type="month" name="jusqu" id="jusqu" th:field ="*{Formation_fin_mois}">
						    		<div class="form-check">
										  <input th:value="Present" class="form-check-input" type="checkbox"  th:field ="*{Formation_fin_mois}" id="checkJusqua">
										  <label class="form-check-label" for="checkJusqua">
									    	Jusqu'a présent
									  	  </label>
									</div>
						    </div>
						   	<div class="col-lg-12 col-md-12 col-sm-12">
							    <label for="FormControlTextarea">Description</label>
							       <textarea  id="textarea" th:field="*{Description}"></textarea>
							</div>
				
				    	</div></br>
				   </div>
				    	<div class="row">
				  			<a  class="add btn btn-warning col-lg-6 col-md-6 col-sm-4 offset-lg-2" style="margin:10px;">Ajouter une Formation</a>
				  			<a class="cancel btn btn-danger col-lg-2 col-md-2 col-sm-2" style="display:none;">Annuler</a>
				  			<button type="submit" class="btn btn-success pull-right " style="margin:10px;">
				  			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save-fill" viewBox="0 0 16 16">
  							<path d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v7.793L4.854 6.646a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l3.5-3.5a.5.5 0 0 0-.708-.708L8.5 9.293V1.5z"/>
							</svg>
				  			Sauvegarder</button>
				  		</div>
				  		</form>
				  </div>
				  
			</div></br> 	

			<div class="row text-center" >
					<a class=" btn btn-primary" stylr="border-radius:50%" th:href="@{/Experiences?id=__${utilisateur.id}__}">Mes Experiences</a>
			</div>
			<div class="row text-center">
				    	<a  th:href="@{/Profile?id=__${utilisateur.id}__}">Revenir au Profile !</a>
			  </div>
    </div>
</body>
<style>
.container {

    height: 100%;
    width:100%;
    position: absolute;
    background-image: linear-gradient(185deg, #63E2C6 40%,#F6F6F4 40%);
}
</style>
<script>

$('.panel-heading').on('click', function() {
    $(this).next('.panel-body').slideToggle("slow");
    
});


$( ".add" ).click(function() {
	  $( ".AddForm" ).show( "slow" );
	  $( ".add" ).hide( "slow" );
	  $( ".cancel" ).show( "slow" );
	});

$( ".cancel" ).click(function() {
	  $( ".AddForm" ).hide( "slow" );
	  $( ".add" ).show( "slow" );
	  $( ".cancel" ).hide( "slow" );
	});
	
$("#checkJusqua").click(function() {
    if($(this).is(":checked")) {
        $("#jusqu").hide(300);
    } else {
        $("#jusqu").show(200);
    }
});
</script>
</html>