<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Choisire le model</title>
    <link rel="stylesheet" 
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
crossorigin="anonymous"> 
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>

		<div class="container">
		
		    <div class="row">
				<!-- 	<div class="col-lg-6 col-md-6 col-sm-10 text-center">
		    		<iframe th:src="@{/pdf_model1?id=__${utilisateur.id}__}" scrolling="no"></iframe>	
		    		
		    		</br><a class="btn btn-info" th:href="@{/download-pdf(id =__${utilisateur.id}__,model =__'pdf_model1'__)}">Télécharger ce Cv</a>
		   			 </div>
		     -->
		    			<div class=" col-lg-6 col-md-6 col-sm-10 text-center">
				    	<iframe th:src="@{/pdf_model1?id=__${utilisateur.id}__}" scrolling="no" name="model1"></iframe>  

						<!--  -->
								</br>	<div class="clr">
								  <a th:href="@{/pdf_model1_green?id=__${utilisateur.id}__}" id="green" target="model1"><div class='box green'></div>
								  </a>
								</div>
								
								<div class="clr">
								 <a th:href="@{/pdf_model1?id=__${utilisateur.id}__}" id="grenat" target="model1"> <div class='box grenat'></div>
								 </a>
								</div>
								
								<div class="clr">
								 <a th:href="@{/pdf_model1_grey?id=__${utilisateur.id}__}" id="grey" target="model1"> <div class='box grey'></div>
								 </a>
								</div>
						
						<!--  -->
						
				    	</br><a class="btn btn-info" id="cv1_green" th:href="@{/download-pdf(id =__${utilisateur.id}__,model =__'pdf_model1_green'__)}" >Télécharger le Cv en vert</a>
				    	<a class="btn btn-info" id="cv1" th:href="@{/download-pdf(id =__${utilisateur.id}__,model =__'pdf_model1'__)}">Télécharger le Cv en grenat</a>
						<a class="btn btn-info" id="cv1_grey" th:href="@{/download-pdf(id =__${utilisateur.id}__,model =__'pdf_model1_grey'__)}">Télécharger le Cv en gris</a>
						
				    </div>	
		    <!--  -->
				    <div class=" col-lg-6 col-md-6 col-sm-10 text-center">
				    	<iframe th:src="@{/pdf_model2?id=__${utilisateur.id}__}" scrolling="no" name="model2"></iframe>  	
<!-- 				    	<a class="btn btn-info" th:href="@{/download-pdf(id =__${utilisateur.id}__,model =__'pdf_model2'__)}">Télécharger ce Cv</a>

 -->					
 							</br>	<div class="clr">
								  <a th:href="@{/pdf_model2_green?id=__${utilisateur.id}__}" id="green2" target="model2"><div class='box green'></div>
								  </a>
								</div>
								
								<div class="clr">
								 <a th:href="@{/pdf_model2?id=__${utilisateur.id}__}" id="gold2" target="model2"> <div class='box gold'></div>
								 </a>
								</div>
								
								<div class="clr">
								 <a th:href="@{/pdf_model2_grey?id=__${utilisateur.id}__}" id="grey2" target="model2"> <div class='box grey'></div>
								 </a>
								</div>
 						<!--  
 						</br><a th:href="@{/pdf_model2_green?id=__${utilisateur.id}__}" id="green2" target="model2">Green</a> -
						<a th:href="@{/pdf_model2?id=__${utilisateur.id}__}" id="gold2" target="model2">Gold</a>
						<a th:href="@{/pdf_model2_grey?id=__${utilisateur.id}__}" id="grey2" target="model2">Grey</a>-->
						
				    	</br><a class="btn btn-info" id="cv2_green" th:href="@{/download-pdf(id =__${utilisateur.id}__,model =__'pdf_model2_green'__)}" >Télécharger le Cv en vert</a>
				    	<a class="btn btn-info" id="cv2" th:href="@{/download-pdf(id =__${utilisateur.id}__,model =__'pdf_model2'__)}">Télécharger le Cv en Or</a>
						<a class="btn btn-info" id="cv2_grey" th:href="@{/download-pdf(id =__${utilisateur.id}__,model =__'pdf_model2_grey'__)}">Télécharger le Cv en gris</a>
						
				    </div>	
				 
				 		 
		    </div>
		    		<div class="row text-center">
					  	<a class=" btn btn-warning" th:href="@{/}">Générer un autre Cv</a>
				    </div>
				    <div class="row text-center">
				    	<a  th:href="@{/Loisire?id=__${utilisateur.id}__}">Revenir au Loisire !</a>
				    </div>
		    
		    
	 </div>

</body>
<script type="text/javascript">
$( document ).ready(function() {
	$("a#cv2_green").hide();
	$("a#cv2_grey").hide();
	$("a#cv1_green").hide();
	$("a#cv1_grey").hide();
});

//Choisire la couleur + dispay bouttons telechargement
$("a#green2").click(function() {
    
   
    $("a#cv2").hide();
    $("a#cv2_grey").hide();
    $("a#cv2_green").show();

});
$("a#gold2").click(function() {
    
	   
    $("a#cv2_green").hide();
    $("a#cv2_grey").hide();
    $("a#cv2").show();

});
$("a#grey2").click(function() {
    
	   
    $("a#cv2_green").hide();
    $("a#cv2").hide();
    $("a#cv2_grey").show();

});
//premier model
$("a#green").click(function() {
    
   
    $("a#cv1").hide();
    $("a#cv1_grey").hide();
    $("a#cv1_green").show();

});
$("a#grenat").click(function() {
    
	   
    $("a#cv1_green").hide();
    $("a#cv1_grey").hide();
    $("a#cv1").show();

});
$("a#grey").click(function() {
    
	   
    $("a#cv1_green").hide();
    $("a#cv1").hide();
    $("a#cv1_grey").show();

});
</script>
<style>
iframe
{
height:400px;
}
.clr {
    display : inline-block;
    align-items : center;
    margin-bottom: 15px;
}
.box {
  height: 20px;
  width: 20px;
  border: 1px solid black;
  margin-right : 5px;
  display : inline-block;
  border-radius:50%;
}

.grenat {
  background-color: #C70039;
  display : inline-block;
}
.gold {
  background-color: #FFD700;
  display : inline-block;
}

.green {
  background-color: #256F6B;
  display : inline-block;
}

.grey {
  background-color: #BEBEBE;
  display : inline-block;
}

.row{
margin:2%;
}
ifarme{
width: 80%;
height: 100%;

}
.container {

    height: 100%;
    width:100%;
    position: absolute;
    background-image: linear-gradient(185deg, #63E2C6 40%,#F6F6F4 40%);
}

</style>


</html>