<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Données personnelles</title>
    <link rel="stylesheet" 
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
crossorigin="anonymous"> 
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    
</head>
<body>

  <div class="container overflow-hidden">
    <div class="multisteps-form">
        <div class="row">
            <div class="col-12 col-lg-8 m-auto">
                <form class="multisteps-form__form" th:action="@{/save_profile}" method="post"
                      th:object="${utilisateur}">
                    <div class="multisteps-form__panel shadow p-4 rounded bg-white js-active" data-animation="scaleIn">
                        <h3 class="multisteps-form__title">Informations personnelles</h3>
                        <div class="multisteps-form__content">
                            <div class="form-row mt-4">
                                <div class="col-12 col-sm-6">
                                    <input class="multisteps-form__input form-control" type="text" placeholder="Entrer votre nom" th:field ="*{Nom}"/>
                                </div>
                                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                    <input class="multisteps-form__input form-control" type="text" placeholder="Entrer votre prénom" th:field ="*{Prenom}"/>
                                </div>
                            </div>
                            <div class="form-row mt-4">
                                <div class="col-12 col-sm-6">
                                    <input class="multisteps-form__input form-control" type="email" placeholder="Entrer votre mail" th:field="*{Email}"/>
                                </div>
                                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                    <input class="multisteps-form__input form-control" type="tel" placeholder="Entrer votre numéro" th:field="*{Tel}"/>
                                </div>
                            </div>
                            <div class="form-row mt-4">

                                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                    <input class="form-control" type="text" name="" placeholder="Entrer votre adresse" th:field="*{Adresse}"/>
                                </div>
                            </div>
                            <div class="form-row mt-4">
                                <div class="col-12 col-sm-6">
                                    <input class="multisteps-form__input form-control" type="text" placeholder="Entrer votre ville" th:field="*{Ville}"/>
                                </div>
                                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                    <input class="multisteps-form__input form-control" type="text" placeholder="Entrer votre Code Postal" th:field="*{CodePostal}"/>
                                </div>
                            </div>
                            <div class="form-row mt-4">
                                <div class="col-12 col-sm-6">
                                    <label for="formFile" class="form-label">date de naissance</label>
                                    <input class="form-control" type="date" placeholder="Entrer votre age" th:field="*{DateNaissance}"/>
                                </div>
                                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                    <label for="formFile" class="form-label">image</label>
                                    <input class="form-control" type="file" id="formFile" th:field="*{image}">
                                </div>
                            </div>
                            
                            <div class="form-row mt-4">
                                <button type="submit" class="btn btn-primary">Etape suivante</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>