<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
<script data-ad-client="ca-pub-2966884563120577" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <title>Créer gratuitement un CV en ligne </title>
    <meta name="description" content=" faire un CV gratuit pour postuler à votre emploi de rêve devient une étape simple et rapide. 
    Choisissez un modèle parmi les modeles et telecharger gratuitement"/>
    <meta name="keywords" content="cv, professionel, gratuit, generateur, emploi, stage, embauche"/>
    <meta name="author" content="Mouad ALOUAN" />
    <meta name="copyright" content="CvGénérateur" />
    <meta name="robots" content="index, follow"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="date d’expiration en secondes"/>
    <meta http-equiv="refresh" content="10; localhost:8081"/>
	
    
    
    <link rel="stylesheet" 
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
crossorigin="anonymous"> 
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <div class="container">
       			<h2 class="text-dark text-center text-info">Rédiger rapidement un CV professionnel</h2>
       			<h5 class="text-dark text-center ">Rédiger un CV et le télécharger immédiatement. En moins de 15 minutes.</h5>
       			<div class="row text-center">
       			<a class="btn btn-success " th:href=@{DonneesPersonelles}>Vas y !</a>
       			</div>
       			
       		 	            
            
   </div>
</body>
<style>
.container {

    height: 100%;
    width:100%;
    position: absolute;
    background-image: linear-gradient(185deg, #63E2C6 40%,#F6F6F4 40%);
}
h2,a{
  padding: 120px 0;
  text-align: center;
}
</style>
</html>
