<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Mes Loisires</title>
    <link rel="stylesheet" 
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
crossorigin="anonymous"> 
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>       
       <style><!-- @import url("skin.min.css"); --></style>
     <script type="text/javascript">
     tinymce.init({
    	  selector: 'textarea#textarea',
    	  toolbar1: 'bold italic underline strikethrough forecolor bullist numlist',
    	  menubar:false,
    	content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
    	});
 </script>
<body>
    <div class="container">
   								 
				<h3 th:text="${utilisateur.nom}+' '+${utilisateur.prenom}"></h3>
								

<!-- Panel Experiences -->								
		
				      <div class="panel panel-primary">
				  				<div class="panel-heading">
				  					  <h3 class="panel-title">Mon profile</h3>
				 				 </div>
				  <div class="panel-body" >
				
				  <form th:action="@{/savePro?id=__${utilisateur.id}__}" method="post" th:object="${profile}" >
				    	
				    	
				    	<!-- Affichage des formations -->
												    	<div class="card border border-success" style="margin:10px" th:if="${p != null}" >  
														        <div class="card-body" >
														           <div class="col-lg-3 col-md-3 col-sm-3">
														       	 	<p th:utext="${p.profile}" id="profile" style="margin:5px; display: inline-block" > </p>
																	</div>	
																	
																	
														
																		  		</br>

														        </div>
														        <div class="card-footer text-center">
														        <a class="btn btn-danger btn-sm float-right" th:href="@{/deleteProfile(Profile_id =__${p.id}__, Utilisateur_id =__${utilisateur.id}__)}" > 
														        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
 																 <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
																</svg>
																Supprimer
														        </a>
														         <a class="btn btn-danger btn-sm float-right" th:href="@{/deleteProfile(Profile_id =__${p.id}__, Utilisateur_id =__${utilisateur.id}__)}" > 
														        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
 																 <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
																</svg>
																Modifier
														        </a>
														        </div>
														    </div>
				<div class="AddForm"  >		th:if="${!p.profile.isEmpty()}"								    
				    	<div class="row "  >
				    	<!-- Ajouter des loisires -->
						    <div class="col-lg-6 col-md-8 col-sm-10 text-center">
						    <textarea  id="textarea" th:field ="*{Profile}"></textarea>
						    </div>
				    	</div></br>
				</div>
				    	<div class="row">
				  			
				  			<button type="submit" class="save btn btn-success pull-right " style="margin:10px;" >
				  			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save-fill" viewBox="0 0 16 16">
  							<path d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v7.793L4.854 6.646a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l3.5-3.5a.5.5 0 0 0-.708-.708L8.5 9.293V1.5z"/>
							</svg>
				  			Sauvegarder</button>
				  		</div>
				  		
						 </form>
						
			   		 </div>
				  
			</div></br> 
				
					<div class="row text-center">
					  	<a class=" btn btn-primary" th:href="@{/Formations?id=__${utilisateur.id}__}">Mes Formations</a>
				    </div>
   			<!-- test zone de texte -->
     


    
</body>
<style>
.container {

    height: 100%;
    width:100%;
    position: absolute;
    background-image: linear-gradient(185deg, #63E2C6 40%,#F6F6F4 40%);
}
.checked {
  color: orange;
}
</style>
<script type="text/javascript">
$('.panel-heading').on('click', function() {
    $(this).next('.panel-body').slideToggle("slow");
    
});


$( ".add" ).click(function() {
	  $( ".AddForm" ).show( "slow" );
	  $( ".add" ).hide( "slow" );
	  $( ".cancel" ).show( "slow" );
	  $( ".save" ).show( "slow" );
	});

$( ".cancel" ).click(function() {
	  $( ".AddForm" ).hide( "slow" );
	  $( ".add" ).show( "slow" );
	  $( ".cancel" ).hide( "slow" );
	  $( ".save" ).hide( "slow" );
	});
	
/*$(function(){
	   var hide = true;

	   $('#profile').each(function(){
	        var td_content = $(this).text();

	        if(td_content.val() == ''){
	            hide = false;
	        }
	   })

	   if(hide= false){
	      $('.AddForm').hide();
	   }
	})*/
</script>

</html>